<!DOCTYPE html>
<html>
  <head>
    <title>$title$</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <style>
      ol {
      font-size: 1.5em;
      line-height: 1.75em;
      }
    </style>
    <script src="scripts/underscore-min.js"></script> 
    <script src="scripts/jquery.js"></script> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div id="chapter-wrapper">
    <div id="chapter">
      <div id="book-title" style='margin-bottom: 1em'>$title$</div> 
      $body$
    </div>
    </div>
  </body>
  <script src="scripts/load-dependencies.js"></script>
</html>
