<!DOCTYPE html>
<html>
  <head>
    <title>$title$</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <style>
      ol {
      font-size: 1.5em;
      line-height: 1.75em;
      }
    </style>
    <script src="scripts/cookies-0.3.1.min.js"></script>
    <script src="scripts/jquery.js"></script>
    <script src="scripts/injector.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div id="chapter-wrapper">
    <div id="chapter">
      <div id="book-title" style='margin-bottom: 1em'>$title$</div> 
      $body$
    </div>
    </div>
  </body>
</html>
