<!DOCTYPE html>
<html>
  <head>
    <title>$title$</title>
    <link rel="stylesheet" type="text/css" href="style.css?1">
    <style>
      ol {
      font-size: 1.5em;
      line-height: 1.75em;
      }
      #header {
      width: 55em;
      padding: 1.5em 0em 1.5em 0em;
      text-align: center;
      }
    </style>
    <script src="scripts/underscore-min.js"></script> 
    <script src="scripts/jquery.js"></script> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
  </head>
  <body>
    <div id="chapter-wrapper">
      <div id='header' >
        <span style='font-family: Baskerville, Palatino Linotype, Palatino; font-size: 50px'</span>$title$</span>
      </div>
      <div id="chapter"> 
$body$
      </div>
    </div>
  </body>

<script>
  (function() {
  var scriptSrc = 'scripts/load-dependencies.js?' + (new Date()).getTime(); 
  var scriptEl = document.createElement('script');
  scriptEl.src = scriptSrc;
  document.getElementsByTagName('head')[0].appendChild(scriptEl);

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44328902-1', 'probmods.org');
  ga('send', 'pageview');
  })();
</script>
</html>
