html {
    padding: 0;
    margin: 0;
    background: url(grey_wash_wall.png);
}

body {
    font-family: Palatino Linotype, Palatino, Georgia, serif;
    font-size: 14px;
    line-height: 125%;
    padding: 0;
    margin: 0;
}

#chapter {
    width: 45em;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 3em;
    background-color: white;
    padding: 5em;
    padding-top: 2em;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1); 
}

#chapter > ul li {
    line-height: 140%;
}

ul#nav {
    float: right;
    margin-top: -1em;
    font-family: verdana;
    font-size: 70%;
    margin-bottom: 4em;
    margin-right: -5em;
}


#nav > li {
    display: inline;
    padding: 5px 10px 5px 10px;
    /* font-variant: small-caps; */
    font-weight: bold;
    /* background-color: #cc0066; */
    background-color: #99ccff;
    border-radius: 2px;
    border: 1px solid gray;
    margin: 5px;
}

#nav a {
    color: black;
    text-decoration: none;
width: 100%
}

.clear {
    clear: both
}

#nav ol {
    background-color: white;
    border: 1px solid gray;
    border-radius: 2px;
    padding: 0;
    margin: 0; 
    margin-top: 3px;
    margin-left: -5em;
    width: 20em;
    /* font-size: 80%; */
    /* margin-left: 3em; */
    display: none;
    position: absolute; 
    list-style-position: inside;
    z-index: 999999;
}

#nav ol li {
    display: list-item;
    padding: 5px 10px 5px 10px;
    font-weight: normal;
} 

#nav ol li:hover {
    background-color: #dd0000;
    color: white;
}

#nav ol li:hover a {
    color: white;
}


/* show the list of all chapters when the show class is
   applied */
li.show ol, #nav ol:hover {
    display: block !important;
}



h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    line-height: 110%;
    border-bottom: 1px dotted gray;
    position: relative;
}

.header-section-number {
    position: absolute;
    left: -70px;
    width: 70px;
    display: block;
    text-align: center;
    /* float: left; */
    color: #cc0066;
}


a:visited {
    color:blue;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: black;
    text-decoration: none
}

h3 {
    font-style: italic
}

h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
    color: black;
    text-decoration: none
}


#book-title {
    font-size: 40px;
    font-style: italic;
    text-align: center
}

#chapter-title {
    /* font-size: 36px; */
    margin-top: 2em;
    font-weight: normal
}

/* textarea { */
/*     font-family: courier new; */
/*     width: 100%; */
/*     font-size: 14px; */
/*     font-weight: 700; */
/*     color: #333; */
/* } */

code {
/* background-color: #ffeeff; */
/* border: 1px solid #ffccff; */
/* font-size: 90%; */
/* padding: 3px; */
/* padding-top: 0; */
/* padding-bottom: 0; */
/* border-radius: 2px; */

}

p {
    text-align: justify
}

.error {
    color: red;
    font-weight: bold
}

#references ~ p {
text-align: left;
}

span.citekey {
    display: none
}

span.citation {
    position: relative;
    border-bottom: 1px dotted gray;
}

.citation > .citation-expanded {
    display: block;
    opacity: 0;
    position: absolute;
    padding: 1em;
    top: 0px;
    left: 0%;
    z-index: -9999;
    min-width: 300px;
    background-color: rgba(255, 204, 102, 0);
    color: rgba(0, 0, 0, 0); /* expanded citation can actually be visible on small screens */
    text-align: left;
}


.citation.hover > .citation-expanded, .citation:hover > .citation-expanded {
    top: -30px;
    display: block;
    z-index: 999;
    color: black;
    background-color: rgba(255, 204, 102, 1.0);
    transition: background-color 0.5s, top 0.25s;
    -webkit-transition: background-color 0.5s, top 0.25s;
    box-shadow: 2px 2px 1px #cccccc;
    opacity: 1
}


.chart {
    font: 12px sans-serif; 
    fill: steelblue;
    stroke: #333333;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}

.axis path, .axis line {
    fill: none;
}

.axis text {
font-size: 16px;
font-family: Palatino Linotype, Palatino, Georgia, serif;
stroke: none;
fill: black;
}

pre {
    font-size: 12px;
    border: 1px solid #afafaf;
}

pre:empty {
    border: none
}

p > code {
    border-radius: 2px;
    background-color: #fafafa;
    border: 1px solid #dfdfdf;
    font-size: 12px;
    padding: 0 2px 0 2px;
}

h1 > a > code, h2 > a > code, h3 > a > code, h4 > a > code, h5 > a > code, li > a > code {
    border-radius: 2px;
    background-color: #fafafa;
    border: 1px solid #dfdfdf;
    padding: 0 2px 0 2px;
}

.bg-yellow {
    background-color: #f2efc2;
    padding: 5px;
    border: 1px solid #f3ce00;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar { 
  fill: steelblue;
  stroke: #333333;
  shape-rendering: crispEdges;
}

.code-controls {
position: absolute;
top: 0px;
right: 1px;
margin: 0;
padding: 0;
z-index: 999;
}

.code-settings {
float: right;
margin: 0;
padding: 0;
list-style-type: none;
opacity: 0
/* display: none */
}

.code-settings li {
display: none;
} 

.code-settings li.cog {
display: inline;
}

.code-settings li.cog button {
background: none;
border: none;
padding-right: 0;
}

.code-settings li.cog img {
opacity: 0.3;
}


.code-settings:hover .cog img {
opacity: 1;

}

.code-settings:hover li {
display: inline;
}

button.run {
position: absolute;
bottom: 0;
right: 0;
z-index: 1000;
opacity: 0;
}

.CodeMirror-focused {
box-shadow: 3px 3px 3px #99ccff; 
}

/* .CodeMirror-focused button.run, .CodeMirror-focused .code-settings { */
/* display: block */
/* } */

.CodeMirror:hover button.run, .CodeMirror:hover .code-settings, .CodeMirror-focused button.run, .CodeMirror-focused .code-settings {
opacity: 1
}