html {
    padding: 0;
    margin: 0;
    background: url(grey_wash_wall.png)
}

body {
    font-family: Palatino Linotype, Palatino, Georgia, serif;
    font-size: 14px;
    line-height: 125%;
    padding: 0;
    margin: 0;
}

#chapter {
    width: 45em;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 3em;
    background-color: white;
    padding: 4em;
    padding-top: 2em;
    border: 1px solid black;
    border-top: 0;
    box-shadow: 0 0 27px rgba(0, 0, 0, 1);
}

ul#nav {
float: right;
margin-top: -2em;
font-family: verdana;
font-size: 80%;
margin-bottom: 4em;
margin-right: -5em;
}


#nav li {
    display: inline;
    padding: 5px 10px 5px 10px;
    font-variant: small-caps;
    font-weight: bold;
    background-color: #cc0066;
    color: white;
    margin: 5px
}

#nav a {
    color: white; 
}

.clear {
clear: both
}

#nav ol {
    border: 1px solid black;
    background-color: #cc0066;
    padding: 0;
    margin: 0; 
    margin-top: 3px;
    margin-left: -5em;
    width: 20em;
    /* font-size: 80%; */
    /* margin-left: 3em; */
    display: none;
    position: absolute; 
    list-style-position: inside;
}

#nav ol li {
    display: list-item
}

/* show the list of all chapters when the show class is
applied */
li.show ol {
    display: block !important;
}



h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}


a:visited {
    color:blue;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: black;
    text-decoration: none
}

h3 {
    font-style: italic
}

h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
    color: black;
    text-decoration: none
}


#book-title {
    font-size: 40px;
    font-style: italic;
    text-align: center
}

#chapter-title {
    /* font-size: 36px; */
    margin-top: 2em;
    font-weight: normal
}

/* textarea { */
/*     font-family: courier new; */
/*     width: 100%; */
/*     font-size: 14px; */
/*     font-weight: 700; */
/*     color: #333; */
/* } */

code {
/* background-color: #ffeeff; */
/* border: 1px solid #ffccff; */
/* font-size: 90%; */
/* padding: 3px; */
/* padding-top: 0; */
/* padding-bottom: 0; */
/* border-radius: 2px; */

}

p {
    text-align: justify
}

.error {
color: red;
font-weight: bold
}