html {
    padding: 0;
    margin: 0;
    background: url(grey_wash_wall.png)
}

body {
    font-family: Palatino Linotype, Palatino, Georgia, serif;
    font-size: 14px;
    line-height: 125%;
    width: 45em;
    margin: 0 auto;
    background-color: white;
    padding: 3em;
    border-left: 1px solid black;
    border-right: 1px solid black;
    box-shadow: 0 0 27px rgba(0, 0, 0, 1);
}

